* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: rgba(233, 87, 63, 0.92);
    font-family: "aktiv-grotsk-std", sans-serif;
    font-size: 15px;
}
.heading {
    position: relative;
    width: 90%;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
    color: white;
    font-size: 3em;
}
.appstore-link {
    background: #fff;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    padding: 10px;
    color: #141c22;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}
button {
    display: inline-block;
    background-color: #B0402E;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5;
    border: none;
    border-radius: 5px;
    outline: 0px none;
    color: #fff;
}
.center {
    margin: 0 auto;
    width: 80%;
}
@media only screen and (max-width: 900px) {
    .heading {
        font-size: 2em;
    }
    button {
        font-size: 1.5em;
    }
    .appstore-link {
        font-size: 1.5em;
    }
}