* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #e9573f;
    font-family: "aktiv-grotsk-std", sans-serif;
    font-size: 15px;
}

.heading {
    position: relative;
    width: 90%;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
    color: white;
    font-size: 3em;
}

.appstore-link {
    background: #fff;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    padding: 10px;
    color: #141c22;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    background-color: #B0402E;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    border: none;
    border-radius: 5px;
    outline: 0px none;
    color: #fff;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.side {
    width: 25%;
}

.center {
    width: 50%;
}